<div class="card">
  <h2>Movimientos</h2>

  <div class="grid">
    <div class="col-3">
      <label>Cuenta</label>
      <select [(ngModel)]="cuentaId" name="cuentaId">
        <option [ngValue]="null">-- Seleccionar --</option>
        <option *ngFor="let c of cuentas" [ngValue]="c.id">
          {{ c.numero }} - {{ c.tipo }} (Saldo: {{ c.saldo | number:'1.2-2' }})
        </option>
      </select>
    </div>
    <div class="col-3">
      <label>Monto</label><input type="number" [(ngModel)]="monto" name="monto" />
    </div>
    <div class="col-4"><label>Referencia</label><input [(ngModel)]="ref" name="ref" /></div>
    <div class="col-2" style="align-self: end">
      <button class="ok" (click)="depositar()" [disabled]="!cuentaId || monto <= 0">
        Depositar
      </button>
    </div>
    <div class="col-2" style="align-self: end">
      <button class="warn" (click)="retirar()" [disabled]="!cuentaId || monto <= 0">Retirar</button>
    </div>
  </div>

  <hr style="border-color: #222; margin: 12px 0" />

  <div class="grid">
    <div class="col-3">
      <label>Cuenta Origen</label>
      <select [(ngModel)]="transfer.origenId" name="origenId">
        <option [ngValue]="null">-- Seleccionar --</option>
        <option *ngFor="let c of cuentas" [ngValue]="c.id">
          {{ c.numero }} - {{ c.tipo }} ({{ c.saldo | number:'1.2-2' }})
        </option>
      </select>
    </div>
    <div class="col-3">
      <label>Cuenta Destino</label>
      <select [(ngModel)]="transfer.destinoId" name="destinoId">
        <option [ngValue]="null">-- Seleccionar --</option>
        <option *ngFor="let c of cuentas" [ngValue]="c.id">
          {{ c.numero }} - {{ c.tipo }} ({{ c.saldo | number:'1.2-2' }})
        </option>
      </select>
    </div>
    <div class="col-3">
      <label>Monto</label><input type="number" [(ngModel)]="transfer.monto" name="tMonto" />
    </div>
    <div class="col-3">
      <label>Referencia</label><input [(ngModel)]="transfer.ref" name="tRef" />
    </div>
    <div class="col-3" style="align-self: end">
      <button
        class="ok"
        (click)="transferir()"
        [disabled]="transfer.monto <= 0 || !transfer.origenId || !transfer.destinoId"
      >
        Transferir
      </button>
    </div>
  </div>

  <div class="err" *ngIf="err">{{ err }}</div>
</div>

<div class="card">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Cuenta</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Saldo</th>
        <th>Fecha</th>
        <th>Ref</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of rows">
        <td>{{ m.id }}</td>
        <td>{{ m.cuentaId }}</td>
        <td>{{ m.tipo }}</td>
        <td>{{ m.valor | number: '1.2-2' }}</td>
        <td>{{ m.saldo | number: '1.2-2' }}</td>
        <td>{{ m.fecha | date: 'yyyy-MM-dd HH:mm' }}</td>
        <td>{{ m.referencia }}</td>
      </tr>
    </tbody>
  </table>
</div>
